#/home/pi/SO2-TP1/SO2-2019_TP1-SAT/assets/upgrade/so2_tp1-sat
[Unit]
Description=SO2 Satellite App
ConditionPathExists=/home/pi/SO2-TP1/SO2-2019_TP1-SAT/assets/upgrade/so2_tp1-sat
After=network.target
 
[Service]
Type=simple
User=so2tp1sat
Group=so2tp1sat
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/pi/SO2-TP1/SO2-2019_TP1-SAT/src/
ExecStart=/home/pi/SO2-TP1/SO2-2019_TP1-SAT/assets/upgrade/so2_tp1-sat 10.0.0.2

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/so2tp1sat
ExecStartPre=/bin/chown syslog:adm /var/log/so2tp1sat
ExecStartPre=/bin/chmod 755 /var/log/so2tp1sat
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=so2tp1sat
 
[Install]
WantedBy=multi-user.target

# Update executable
# sudo journalctl -f -u so2_tp1-sat
# sudo systemctl stop so3_tp1-sat.service
# cd build
# make
# cp so2_tp1_satellite ../assets/upgrade/so2_tp1-sat
# sudo systemctl start so3_tp1-sat.service


# first time local installation
# make
# cp so2_tp1_satellite ../assets/upgrade/so2_tp1-sat
# sudo chown so2tp1sat:so2tp1sat ../assets/upgrade/so2_tp1-sat

# add service user to sudoers so it can shutdown the computer
# sudo visudo
# so2tp1sat ALL= NOPASSWD: /sbin/shutdown